* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  user-select: none;
}
:root {
  --font1: "Marck Script", cursive;
  --font2: "Parisienne", cursive;
  --font3: "Sacramento", cursive;
  --font4: "Satisfy", cursive;
  --font5: "Tangerine", cursive;
  --font6: "Yellowtail", cursive;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
}
/*****                     s1                                  ****/
.section1 {
  width: 100%;
  height: 140vh;
  background-image: url("../DESIGNING-UI/ui-Designing-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 5rem;
}
.logoimgc {
  background-image: url("../DESIGNING-UI/cwslogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10rem;
  height: 7rem;
}
.section1h1 {
  margin-top: 17rem;
  font-size: 4.9rem;
  color: black;
  margin-left: 18rem;
}
.section1p1 {
  margin-top: 4rem;
  font-size: 2rem;
  color: black;
  margin-left: 18rem;
}
.section1p2 {
  display: none;
}

.section1btndiv {
  background-image: url("../DESIGNING-UI/Rectangle 154.png");
  background-repeat: no-repeat;
  background-size: 180px 60px;
  height: 6rem;
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  margin-left: 18rem;
  margin-top: 7rem;
}
.section1btndiv a {
  text-decoration: none;
  color: white;
}

.section1col {
  /* display: flex;
	justify-content: center;
	align-items: center; */
  margin-top: 7rem;
  height: 15rem;
  width: 20rem;
}
.section1row {
  padding-right: 10rem;
  padding-left: 15rem;
}
.section1colimgc1 {
  height: 100%;
  background-image: url("../DESIGNING-UI/G (12).png");
  background-repeat: no-repeat;
  background-size: contain;
}
.section1colimgc2 {
  height: 100%;
  background-image: url("../DESIGNING-UI/G (13).png");
  background-repeat: no-repeat;
  background-size: contain;
}
.section1colimgc3 {
  height: 100%;
  background-image: url("../DESIGNING-UI/G (14).png");
  background-repeat: no-repeat;
  background-size: contain;
}
.section1colimgc4 {
  height: 100%;
  background-image: url("../DESIGNING-UI/G (15).png");
  background-repeat: no-repeat;
  background-size: contain;
}
.img11 {
  height: 17rem;
}
.imgdiv11 {
  width: 100%;
  margin-top: -7.5rem;
  overflow: hidden;
}
.imgdiv11 img {
  float: right;
  height: 15rem;
  margin-right: -6rem;
}
.imgdiv12 {
  width: 100%;
  margin-top: -5rem;
}
.imgdiv12 img {
  float: right;
  height: 7rem;
  margin-right: 30rem;
}

/***********                    s2                      ************/
.section2 {
  width: 100%;
  height: 63rem;
}
.section2col {
  margin-top: -5rem;
}
.section2row {
  width: 100%;
}
.section2colp1 {
  margin-left: 9rem;
  font-size: 3.5rem;
  border-left: 0.5rem solid #58b5ed;
  padding-left: 4rem;
}
.section2colp2 {
  margin-top: 3rem;
  margin-left: 9rem;
  font-size: 2.2rem;
  line-height: 5rem;
  margin-right: 1rem;
  padding-bottom: 4rem;
}
.section2colcon {
  /* display: flex; */
  align-items: center;
  margin-left: 9.5rem;
}
.section2colconimgc {
  height: 2rem;
  background-image: url("../DESIGNING-UI/MOBILE/Group 4469.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.section2colconp1 {
  font-size: 2.2rem;
  margin-left: 5rem;
  margin-top: -2.5rem;
}
.section2col2imgc {
  margin-top: 5rem;
  height: 45rem;
  background-image: url("../DESIGNING-UI/G (16).png");
  background-repeat: no-repeat;
  background-size: contain;
}

.section2btndiv {
  background-image: url("../DESIGNING-UI/MOBILE/K (23).png");
  background-repeat: no-repeat;
  background-size: 180px 60px;
  height: 6rem;
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  margin-left: 14rem;
  margin-top: 3rem;
}
.section2btndiv a {
  text-decoration: none;
  color: white;
}

.img22 {
  height: 50rem;
  float: right;
  margin-right: -4rem;
  margin-top: 1rem;
}
.imgdiv13 {
  width: 100%;
  margin-top: -5rem;
}
.imgdiv13 img {
  float: left;
  height: 15rem;
  margin-left: -8rem;
}
.section3 {
  margin-top: 10rem;
}
.section3p {
  margin-left: 12rem;
  font-size: 3.5rem;
  border-left: 0.5rem solid #58b5ed;
  padding-left: 4rem;
}
.section3row {
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 5rem;
}
.section3col {
  margin-bottom: 4rem;
}
.section3img1c {
  height: 50rem;
  background-image: url("../DESIGNING-UI/G (1).png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.section3img2c {
  height: 59rem;
  background-image: url("../DESIGNING-UI/G (2).png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 5rem;
}
.section3img3c {
  height: 55rem;
  background-image: url("../DESIGNING-UI/G (3).png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.section3img4c {
  margin-top: 15rem;
  height: 45rem;
  background-image: url("../DESIGNING-UI/G (4).png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.section3adiv1 {
  width: 100%;
}
.section3adiv1 a {
  float: right;
  font-size: 3rem;
  color: black;
  margin-right: 10rem;
  text-decoration: none;
  font-weight: bold;
}

.section4 {
  margin-top: 2rem;
  height: 0rem;
}
.section4div1 {
  width: 100%;
}
.section4img1c {
  height: 48rem;
  width: 80rem;
  background-image: url("../DESIGNING-UI/G (5).png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 2rem;
}
.section4div2 {
  width: 100%;
}
.section4img2c {
  float: right;
  height: 48rem;
  width: 80rem;
  background-image: url("../DESIGNING-UI/G (6).png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 2rem;
}

.section5 {
  margin-top: 100rem;
}

.section6 {
  width: 100%;
  height: 130rem;
  background-image: url("../DESIGNING-UI/Group 18151.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section6helper {
  height: 10rem;
}
.section6p {
  margin-left: 12rem;
  font-size: 3.5rem;
  border-left: 0.5rem solid #58b5ed;
  padding-left: 4rem;
}
.section6row {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 7rem;
}
.section6col {
  margin-bottom: 4rem;
}
.section6img1c {
  height: 45rem;
  background-image: url("../DESIGNING-UI/design.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section6img2c {
  height: 45rem;
  background-image: url("../DESIGNING-UI/Task 10.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section6img3c {
  height: 45rem;
  background-image: url("../DESIGNING-UI/aba taano.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section6img4c {
  height: 45rem;
  background-image: url("../DESIGNING-UI/web 6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section6img5c {
  height: 45rem;
  background-image: url("../DESIGNING-UI/verso (1).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section6img6c {
  height: 45rem;
  background-image: url("../DESIGNING-UI/homepage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.section6adiv {
  width: 100%;
}
.section6adiv a {
  text-decoration: none;
  float: right;
  font-size: 3rem;
  margin-right: 10rem;
}
.section3-1col {
  height: 40rem;
}
.section3-1colimg1c {
  height: 100%;
  background-image: url("../DESIGNING-UI/iPhone X.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section3-1colimg2c {
  height: 100%;
  background-image: url("../DESIGNING-UI/iPhone X-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section3-1colimg3c {
  height: 100%;
  background-image: url("../DESIGNING-UI/iPhone X-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section3-1colimg4c {
  height: 100%;
  background-image: url("../DESIGNING-UI/iPhone X-3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section3-1colimg5c {
  height: 100%;
  background-image: url("../DESIGNING-UI/iPhone X-4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section3-1colimg6c {
  height: 100%;
  background-image: url("../DESIGNING-UI/iPhone X-5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section3-1colimg7c {
  height: 100%;
  background-image: url("../DESIGNING-UI/iPhone X-6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section3-1colimg8c {
  height: 100%;
  background-image: url("../DESIGNING-UI/iPhone X-7.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section3-1colimg9c {
  height: 100%;
  background-image: url("../DESIGNING-UI/iPhone X-8.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section3-1colimg10c {
  height: 100%;
  background-image: url("../DESIGNING-UI/iPhone X-9.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section3-1colimg11c {
  height: 100%;
  background-image: url("../DESIGNING-UI/iPhone X-10.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section3-1colimg12c {
  height: 100%;
  background-image: url("../DESIGNING-UI/iPhone X-11.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section7 {
  margin-top: 5rem;
  height: 129rem;
  width: 100%;
}
.section7p1 {
  margin-left: 12rem;
  font-size: 3.5rem;
  border-left: 0.5rem solid #58b5ed;
  padding-left: 4rem;
}
.section7p2 {
  margin-left: 20rem;
  margin-right: 10rem;
  font-size: 2.3rem;
}
.section7row {
  margin-top: 0rem;
}
.section7col {
  margin-top: 10rem;
}
.section7img1c {
  height: 45rem;
  background-image: url("../DESIGNING-UI/G (17).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section7img2c {
  height: 48rem;
  background-image: url("../DESIGNING-UI/G (7).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section7img3c {
  height: 45rem;
  background-image: url("../DESIGNING-UI/G (8).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section7img4c {
  height: 48rem;
  background-image: url("../DESIGNING-UI/G (18).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.section8 {
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.section8maindiv {
  margin-right: 10rem;
  margin-left: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  border-radius: 1rem;
  box-shadow: 1px 2px 10px 6px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 1px 2px 10px 6px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 1px 2px 10px 6px rgba(0, 0, 0, 0.26);
  margin-bottom: 5rem;
}
.section8 p {
  font-size: 2.5rem;
}
.section8btndiv {
  background-image: url("../DESIGNING-UI/Rectangle 154.png");
  background-repeat: no-repeat;
  background-size: 180px 60px;
  height: 6rem;
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  margin-left: 18rem;
}
.section8btndiv a {
  text-decoration: none;
  color: white;
}
.section8row {
  margin-left: 10rem;
}
.section8col {
  width: 100%;
}
.section8img1c {
  height: 67rem;
  background-image: url("../DESIGNING-UI/G (11).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section8img2c {
  margin-top: 27rem;
  height: 36rem;
  background-image: url("../DESIGNING-UI/MOBILE/Group 1737.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.section9 {
  width: 100%;
  margin-top: 5rem;
  background-image: url("../DESIGNING-UI/G (10).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 60rem;
}

.section10 {
  margin-top: 5rem;
}
.section10row {
  margin-top: 5rem;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-bottom: 4rem;
}
.section10col {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
}
.section10colcon1 {
  background: url("../DESIGNING-UI/MOBILE/K (4).png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 33rem;
  height: 11.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.section10colcon2 {
  background: url("../DESIGNING-UI/MOBILE/K (5).png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 33rem;
  height: 11.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.section10colcon3 {
  background: url("../DESIGNING-UI/MOBILE/K (6).png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 33rem;
  height: 11.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.section10colcon4 {
  background: url("../DESIGNING-UI/MOBILE/K (7).png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 33rem;
  height: 11.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.section10colcon5 {
  background: url("../DESIGNING-UI/MOBILE/K (8).png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 33rem;
  height: 11.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.section10colcon6 {
  background: url("../DESIGNING-UI/MOBILE/K (9).png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 33rem;
  height: 11.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.section10colcon7 {
  background: url("../DESIGNING-UI/MOBILE/K (10).png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 33rem;
  height: 11.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.section10colcon8 {
  background: url("../DESIGNING-UI/MOBILE/K (11).png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 33rem;
  height: 11.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.section10colcon9 {
  background: url("../DESIGNING-UI/MOBILE/K (12).png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 33rem;
  height: 11.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.section10colcon10 {
  background: url("../DESIGNING-UI/MOBILE/K (13).png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 33rem;
  height: 11.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.section10colcon11 {
  background: url("../DESIGNING-UI/MOBILE/K (14).png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 33rem;
  height: 11.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.section10colcon12 {
  background: url("../DESIGNING-UI/MOBILE/K (15).png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 33rem;
  height: 11.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.section10colcon {
  display: flex;
  align-items: center;
}
.section10colcon p {
  margin-left: 13rem;
  font-size: 2.2rem;
  margin-right: 3rem;
}
.section10lastdiv {
  background-image: url("../DESIGNING-UI/ui-Designing-2.png");
  margin-right: 11rem;
  margin-left: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  border-radius: 1rem;
  box-shadow: 1px 2px 10px 6px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 1px 2px 10px 6px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 1px 2px 10px 6px rgba(0, 0, 0, 0.26);
  margin-bottom: 5rem;
}
.section10lastdiv p {
  font-size: 3rem;
  font-weight: bold;
}
.section10btndiv {
  background-image: url("../DESIGNING-UI/Rectangle 154.png");
  background-repeat: no-repeat;
  background-size: 180px 60px;
  height: 6rem;
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  margin-left: 18rem;
}
.section10btndiv a {
  text-decoration: none;
  color: white;
}
.section11 {
  width: 100%;
  height: 85rem;
}
.section11div1 {
  width: 100%;
  height: 100%;
  background-image: url("../DESIGNING-UI/Group 1815-crop.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 5rem;
}
.section11p {
}
.section12 {
  height: 60rem;
  width: 100%;
  background-image: url("../DESIGNING-UI/Group 6672.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.section12c1 {
  height: 100%;
  width: 100%;
  background-image: url("../DESIGNING-UI/Group 1814.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.section12c1c1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.section12c1c1 p {
  font-size: 4rem;
  font-weight: bold;
}
.section12c1c2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section12c1c2c1 {
  height: 70rem;
  width: 70rem;
  background-image: url("../DESIGNING-UI/Group 1816.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -4rem;
}
.section12c1c2c1c1 {
  width: 100%;

  padding-top: 13rem;
}
.section12c1c2c1c1imgc {
  height: 10rem;
  background-image: url("../DESIGNING-UI/card-2314.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.section12c1c2c1c2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-size: 1.6rem;
  padding-left: 18rem;
  padding-right: 16rem;
  color: grey;
}
.section12c1c3 {
  margin-top: 10rem;
  width: 30rem;
  padding-right: 10rem;
  float: right;
}
.section12c1c3img1c {
  height: 1.3rem;
  background-image: url("../DESIGNING-UI/Union-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.section12c1c3img2c {
  height: 2rem;
  background-image: url("../DESIGNING-UI/Union.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 9rem;
  margin-top: -1.6rem;
}

.section13 {
  width: 100%;
  height: 20rem;
  background: #58b5ed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section13 p {
  font-size: 4rem;
  color: white;
}
.section13 a {
  margin-left: 5rem;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding: 1.7rem 5.5rem;
  background: #1b2441;
  border-radius: 5rem;
}
.section14 {
  width: 100%;
  background: #1b2441;
  padding-left: 7rem;
  padding-top: 7rem;
  overflow: hidden;
  height: 66rem;
}
.section14col1 p {
  color: #58b5ed;
  font-size: 3rem;
  padding-left: 1.3rem;
}
.section14colchild ul {
  list-style-type: none;
}
.section14colchild ul li {
  margin-bottom: 0.5rem;
}
.section14colchild ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}
.section14col2 p:nth-child(1) {
  color: #58b5ed;
  font-size: 3rem;
}
.section14col2 p:nth-child(2) {
  color: white;
  font-size: 1.5rem;
  margin-top: 4rem;
}
.section14col2 p:nth-child(3) {
  color: white;
  font-size: 1.5rem;
}
.section14col2c1 {
  display: flex;
}
.section14col2c1 {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.section14col2c1 img {
  height: 2rem;
  margin-bottom: -2.7rem;
}
.section14col2c1 p {
  margin-left: 1.5rem;
}

.section14col2c2 {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.section14col2c2 {
  display: flex;
}
.section14col2c2 a {
  margin-top: 3rem;
  text-decoration: none;
  margin-right: 4rem;
  padding: 0.7rem 3.5rem;
  background: white;
  font-weight: bold;
  border-radius: 2rem;
  font-size: 1.5rem;
  color: #1b2441;
}
.section142div {
  width: 100%;
  height: 40rem;
  margin-top: 0rem;
}
.section142divc1 {
  margin-top: -15rem;
  float: right;
  height: 50rem;
  width: 50rem;
  background: url("../DESIGNING-UI/Path 200-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: -6rem;
}

.section142divc1imgcon1 {
  float: right;
  margin-right: 9rem;
}
.section142divc1imgcon2 {
  float: right;
  margin-right: 3rem;
  margin-top: 1rem;
}
.section142divc1imgcon3 {
  float: right;
  margin-right: -13rem;
  margin-top: 10rem;
}
.section142divc1imgcon4 {
  float: right;
  margin-right: -25.5rem;
  margin-top: 15rem;
}
.section142divc1imgcon5 {
  float: right;
  margin-right: -10rem;
  margin-top: 26rem;
}
.section142divc1imgcon6 {
  float: right;
  margin-right: 10rem;
  margin-top: 23rem;
}
.section142divc1imgcon {
  margin-left: 2.5rem;
}
.section142divc1imgcon img {
  height: 2.2rem;
}

.section142divc1imgcon {
  height: 5rem;
  width: 5rem;
  background: url("../DESIGNING-UI/Ellipse 26.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.section142divc1img6c {
  height: 2rem;
  background: url("../DESIGNING-UI/Icon awesome-twitter.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 1.5rem;
}
.section142divc1img5c {
  height: 3rem;
  background: url("../DESIGNING-UI/Path 2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 1rem;
}
.section142divc1img4c {
  height: 2rem;
  background: url("../DESIGNING-UI/Icon awesome-linkedin.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 1.5rem;
}
.section142divc1img3c {
  height: 2rem;
  background: url("../DESIGNING-UI/Icon awesome-instagram.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 1.5rem;
}
.section142divc1img2c {
  height: 2rem;
  background: url("../DESIGNING-UI/Group 24.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 1.5rem;
}
.section142divc1img1c {
  height: 2rem;
  background: url("../DESIGNING-UI/Icon awesome-pinterest.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 1.5rem;
}
.section142divlastp1 {
  font-size: 2rem;
  color: #58b5ed;
  text-align: center;
  margin-left: 50rem;
}
.section142divlastp2 {
  color: white;
  text-align: center;
  font-size: 1.7rem;
  margin-top: 0rem;
  /*padding-left: 10rem;*/
}
/*9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999*/
/*9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999*/
@media only screen and (max-width: 768px) {
  /*body{
	overflow-x: hidden;
}*/
  .section1 {
    width: 100%;
    height: 100vh;
    padding-top: 3rem;
  }
  .logoimgc {
    margin-left: 3rem;
    height: 6rem;
  }

  .section1h1 {
    margin-top: 5rem;
    font-size: 3.5rem;
    margin-left: 3rem;
  }
  .section1p1 {
    display: none;
  }
  .section1p2 {
    display: block;
    margin-top: 3rem;
    font-size: 1.8rem;
    margin-left: 3rem;
    line-height: 4.5rem;
  }
  .section1btndiv {
    background-size: 150px 50px;
    height: 5rem;
    width: 15rem;
    font-size: 1.5rem;
    margin-left: 3rem;
    margin-top: 3rem;
  }
  .section1row {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .section1col {
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 11rem;
    width: 10rem;
  }
  .section1colimgc1 {
	background-image: url("../DESIGNING-UI/MOBILE/Group 6582.png");
  }
  .section1colimgc2 {
	background-image: url("../DESIGNING-UI/MOBILE/Group 6583.png");
  }
  .section1colimgc3 {
	background-image: url("../DESIGNING-UI/MOBILE/Group 6584.png");
  }
  .section1colimgc4 {
	background-image: url("../DESIGNING-UI/MOBILE/Group 6585.png");
  }
  .img11 {
    height: 10.5rem;
  }
  .imgdiv11 {
    display: none;
  }
  .imgdiv12 {
    width: 100%;
    margin-top: 1rem;
  }
  .imgdiv12 img {
    float: right;
    height: 6rem;
    margin-right: 2rem;
  }
  .section2col {
    margin-top: -2rem;
  }
  .section2 {
    width: 100%;
    height: 89rem;
  }
  .section2row {
    width: 100%;
  }
  .section2colp1 {
    margin-left: 2rem;
    font-size: 2.3rem;
    font-weight: bold;
    border-left: 0.4rem solid #58b5ed;
    padding-left: 2rem;
  }
  .section2colp2 {
    margin-top: 3rem;
    margin-left: 2rem;
    font-size: 2rem;
    line-height: 5rem;
    margin-right: -1rem;
    padding-bottom: 1.5rem;
  }
  .section2colcon {
    margin-left: 2rem;
    width: 100%;
  }
  .section2colconimgc {
    height: 1.8rem;
    background-image: url("../DESIGNING-UI/MOBILE/Group 4469.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .section2colconp1 {
    font-size: 1.5rem;
    margin-left: 2.5rem;
    margin-top: -2rem;
  }

  .section2btndiv {
    background-size: 170px 50px;
    height: 5rem;
    width: 17rem;
    font-size: 1.5rem;
    margin-left: 3rem;
    margin-top: 2rem;
  }
  .section2btndiv a {
    text-decoration: none;
    color: white;
  }
  .section2col2 {
  }
  .section2col2imgc {
    margin-top: 3rem;
    height: 30rem;
    background-image: url("../DESIGNING-UI/MOBILE/Group 6602.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 4rem;
  }

  .imgdiv13 {
    display: none;
  }

  .section3 {
    margin-top: 28rem;
    width: 100%;
  }
  .container-fluid111 {
    padding: 0px;
  }
  .section3p {
    margin-left: 2rem;
    font-size: 2.5rem;
    border-left: 0.6rem solid #58b5ed;
    padding-left: 3rem;
  }
  .section3row {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 4rem;
    overflow: hidden;
  }
  .section3col {
    margin-bottom: -5rem;
  }
  .section3img1c {
    height: 50rem;
    background-image: url("../DESIGNING-UI/MOBILE/Group 6659.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .section3img2c {
    height: 50rem;
    background-image: url("../DESIGNING-UI/MOBILE/Group 6660.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 0rem;
  }
  .section3img3c {
    height: 55rem;
    background-image: url("../DESIGNING-UI/MOBILE/Group 6661.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .section3img4c {
    margin-top: -5rem;
    height: 45rem;
    background-image: url("../DESIGNING-UI/MOBILE/Group 6662.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .section4div1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .section4img1c {
    height: 35rem;
    width: 100%;
    background-image: url("../DESIGNING-UI/MOBILE/Group 6663.png");

    margin-left: 0rem;
  }
  .section4div2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .section4img2c {
    float: none;
    height: 27rem;
    width: 100%;
    background-image: url("../DESIGNING-UI/MOBILE/Group 6664.png");
    margin-right: 0rem;
  }

  .section3img3 {
    padding-top: 0rem;
  }
  .section3img4 {
    padding-top: 0rem;
  }

  .section4 {
    margin-top: 1rem;
    height: 65rem;
  }
  .section4div1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section4img1 {
    float: none;
    height: 23rem;
    margin-left: 0rem;
  }
  .section4div2 {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section4img2 {
    float: none;
    height: 27rem;
    margin-right: 0rem;
  }
  .section5 {
    margin-top: -10rem;
  }
  .section3-1 {
    margin-top: -20rem;
  }
  .section6 {
    width: 100%;
    height: 335rem;
    background-image: url("../DESIGNING-UI/MOBILE/Group 1815-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .section6helper {
    height: 25rem;
  }
  .section6p {
    margin-left: 2rem;
    font-size: 3rem;
    border-left: 0.5rem solid #58b5ed;
    padding-left: 3rem;
  }
  .section6row {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 7rem;
  }
  .section6col {
    width: 100%;
    margin-bottom: 4rem;
  }
  .section6img1c {
    height: 40rem;
    background-image: url("../DESIGNING-UI/MOBILE/design.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .section6img2c {
    height: 40rem;
    background-image: url("../DESIGNING-UI/MOBILE/Task 10.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .section6img3c {
    height: 40rem;
    background-image: url("../DESIGNING-UI/MOBILE/aba taano.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .section6img4c {
    height: 40rem;
    background-image: url("../DESIGNING-UI/MOBILE/web 6.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .section6img5c {
    height: 40rem;
    background-image: url("../DESIGNING-UI/MOBILE/verso (1).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .section6img6c {
    height: 40rem;
    background-image: url("../DESIGNING-UI/MOBILE/homepage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .section3adiv1 {
    display: none;
  }
  .section3-1col {
    height: 25rem;
  }
  .section3-1colimg1c {
    height: 100%;
    background-image: url("../DESIGNING-UI/MOBILE/iPhone X.png");
  }
  .section3-1colimg2c {
    height: 100%;
    background-image: url("../DESIGNING-UI/MOBILE/iPhone X-1.png");
  }
  .section3-1colimg3c {
    height: 100%;
    background-image: url("../DESIGNING-UI/MOBILE/iPhone X-2.png");
  }
  .section3-1colimg4c {
    height: 100%;
    background-image: url("../DESIGNING-UI/MOBILE/iPhone X-3.png");
  }
  .section3-1colimg5c {
    height: 100%;
    background-image: url("../DESIGNING-UI/MOBILE/iPhone X-4.png");
  }
  .section3-1colimg6c {
    height: 100%;
    background-image: url("../DESIGNING-UI/MOBILE/iPhone X-5.png");
  }
  .section3-1colimg7c {
    height: 100%;
    background-image: url("../DESIGNING-UI/MOBILE/iPhone X-6.png");
  }
  .section3-1colimg8c {
    height: 100%;
    background-image: url("../DESIGNING-UI/MOBILE/iPhone X-7.png");
  }
  .section3-1colimg9c {
    height: 100%;
    background-image: url("../DESIGNING-UI/MOBILE/iPhone X-8.png");
  }
  .section3-1colimg10c {
    height: 100%;
    background-image: url("../DESIGNING-UI/MOBILE/iPhone X-9.png");
  }
  .section3-1colimg11c {
    height: 100%;
    background-image: url("../DESIGNING-UI/MOBILE/iPhone X-10.png");
  }
  .section3-1colimg12c {
    height: 100%;
    background-image: url("../DESIGNING-UI/MOBILE/iPhone X-11.png");
  }
  .section7 {
    margin-top: 0rem;
  }
  .section7 {
    margin-top: 5rem;
    height: 155rem;
    width: 100%;
  }
  .section7p1 {
    margin-left: 3rem;
    font-size: 2.5rem;
    border-left: 0.5rem solid #58b5ed;
    padding-left: 2rem;
  }
  .section7p2 {
    margin-left: 3rem;
    margin-right: 0.5rem;
    font-size: 1.5rem;
    line-height: 4rem;
  }
  .section7row {
    margin-top: -4rem;
  }
  .section7col {
    margin-top: 5rem;
  }
  .section7img1c {
    height: 30rem;
    background-image: url("../DESIGNING-UI/MOBILE/Group 6669.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .section7img2c {
    height: 30rem;
    background-image: url("../DESIGNING-UI/MOBILE/Group 6666.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .section7img3c {
    height: 30rem;
    background-image: url("../DESIGNING-UI/MOBILE/Group 6667.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .section7img4c {
    height: 30rem;
    background-image: url("../DESIGNING-UI/MOBILE/Group 6656.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .section8 {
    width: 100%;
    margin-top: 10rem;
    margin-bottom: 1rem;
  }
  .section8maindiv {
    margin-right: 2rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    border-radius: 1rem;
    box-shadow: 1px 2px 10px 6px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 1px 2px 10px 6px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 1px 2px 10px 6px rgba(0, 0, 0, 0.26);
    margin-bottom: 5rem;
  }
  .section8 p {
    font-size: 0.8rem;
    padding-top: 1rem;
  }
  .section8btndiv {
    background-image: url("../DESIGNING-UI/Rectangle 154.png");
    background-repeat: no-repeat;
    background-size: 75px 22px;
    height: 2.2rem;
    width: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    margin-left: 3rem;
  }
  .section8btndiv a {
    text-decoration: none;
    color: white;
  }
  .section8row {
    margin-left: 0rem;
  }
  .section8col {
    width: 100%;
  }
  .section8img1c {
    height: 30rem;
    background-image: url("../DESIGNING-UI/MOBILE/Group 4462.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .section8img2c {
    margin-top: 0rem;
    height: 36rem;
    background-image: url("../DESIGNING-UI/MOBILE/Group 1737.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .section9 {
    width: 100%;
    margin-top: 5rem;
    background-image: url("../DESIGNING-UI/G (10).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 20rem;
  }

  .section10 {
    margin-top: 2rem;
  }
  .section10row {
    margin-top: 5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  .section10col {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
  }
  .section10colcon1,
  .section10colcon2,
  .section10colcon3,
  .section10colcon4,
  .section10colcon5,
  .section10colcon6,
  .section10colcon7,
  .section10colcon8,
  .section10colcon9,
  .section10colcon10,
  .section10colcon11,
  .section10colcon12 {
    width: 40rem;
    height: 12rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .section10lastdiv {
    background-image: url("../DESIGNING-UI/ui-Designing-2.png");
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5rem;
    border-radius: 1rem;
    box-shadow: 1px 2px 10px 6px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 1px 2px 10px 6px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 1px 2px 10px 6px rgba(0, 0, 0, 0.26);
    margin-bottom: 5rem;
  }
  .section10lastdiv p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1.1rem;
  }
  .section10btndiv {
    background-image: url("../DESIGNING-UI/Rectangle 154.png");
    background-repeat: no-repeat;
    background-size: 90px 27px;
    height: 2.7rem;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    margin-left: 3rem;
  }
  .section10btndiv a {
    text-decoration: none;
    color: white;
  }
  .section11 {
    width: 100%;
    height: 105rem;
    background-image: url("../DESIGNING-UI/MOBILE/Group 1815-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15rem;
  }
  .section11div1 {
    width: 100%;
    background-image: url("../DESIGNING-UI/MOBILE/Group 4441.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .section11p {
    margin-top: -13rem;
    font-size: 1.6rem;
  }
  .section12 {
    height: 30rem;
    width: 100%;
    background-image: url("../DESIGNING-UI/Group 6672.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .section12c1 {
    height: 100%;
    width: 100%;
    background-image: url("../DESIGNING-UI/Group 1814.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .section12c1c1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .section12c1c1 p {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .section12c1c2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section12c1c2c1 {
    height: 80rem;
    width: 80rem;
    background-image: url("../DESIGNING-UI/Group 1816.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -4rem;
  }
  .section12c1c2c1c1 {
    width: 100%;
    padding-top: 7rem;
  }
  .section12c1c2c1c1imgc {
    height: 7rem;
    background-image: url("../DESIGNING-UI/card-2314.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .section12c1c2c1c2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    font-size: 1rem;
    padding-left: 11rem;
    padding-right: 9rem;
    color: grey;
  }
  .section12c1c3 {
    margin-top: 4rem;
    float: right;
    width: 30rem;
    padding-right: 5rem;
  }
  .section12c1c3img1c {
    height: 1.1rem;
    background-image: url("../DESIGNING-UI/Union-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .section12c1c3img2c {
    height: 1.6rem;
    background-image: url("../DESIGNING-UI/Union.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 7rem;
    margin-top: -1.3rem;
  }

  .section13 {
    width: 100%;
    height: 10rem;
    background: #58b5ed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section13 p {
    font-size: 1.2rem;
    color: white;
    margin-top: 0.9rem;
  }
  .section13 a {
    margin-left: 2rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0.4rem 1.7rem;
    background: #58b5ed;
    border-radius: 5rem;
    border: 1px solid white;
  }
  .section14 {
    width: 100%;
    background: #1b2441;
    padding-left: 2rem;
    padding-top: 2rem;
    overflow: hidden;
    height: 170rem;
  }
  .section14col1 p {
    color: #58b5ed;
    font-size: 3.5rem;
    padding-left: 1.3rem;
  }
  .section14colchild ul {
    list-style-type: none;
  }
  .section14colchild ul li {
    margin-bottom: 1rem;
  }
  .section14colchild ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }
  .section14col2 p:nth-child(1) {
    color: #58b5ed;
    font-size: 3rem;
  }
  .section14col2 p:nth-child(2) {
    color: white;
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .section14col2 p:nth-child(3) {
    color: white;
    font-size: 1.5rem;
  }

  .section14col2c1 {
    font-size: 1.2rem;
  }
  .section14col2c1 img {
    height: 2rem;
    margin-bottom: -1.5rem;
  }
  .section14col2c1 p {
    margin-left: 1rem;
  }
  .section14col2c2 {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }

  .section14col2c2 a {
    margin-top: 3rem;
    text-decoration: none;
    margin-right: 3rem;
    padding: 1rem 4rem;
    border-radius: 2rem;
    font-size: 1.4rem;
  }
  .section142div {
    width: 100%;
    height: 40rem;
  }
  .section142divc1 {
    margin-top: -20rem;
    float: right;
    height: 35rem;
    width: 50rem;
    background: url("../DESIGNING-UI/Path 200-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0rem;
  }
  .section142divc1imgcon1 {
    float: right;
    margin-right: 9rem;
  }
  .section142divc1imgcon2 {
    float: right;
    margin-right: 3rem;
    margin-top: 1rem;
  }
  .section142divc1imgcon3 {
    float: right;
    margin-right: -13rem;
    margin-top: 10rem;
  }
  .section142divc1imgcon4 {
    float: right;
    margin-right: -25.5rem;
    margin-top: 15rem;
  }
  .section142divc1imgcon5 {
    float: right;
    margin-right: -10rem;
    margin-top: 26rem;
  }
  .section142divc1imgcon6 {
    float: right;
    margin-right: 7rem;
    margin-top: 22.7rem;
  }
  .section142divc1imgcon {
    margin-left: 2.5rem;
  }
  .section142divc1img6c {
    height: 2rem;
    background: url("../DESIGNING-UI/Icon awesome-twitter.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 1.5rem;
  }
  .section142divc1img5c {
    height: 3rem;
    background: url("../DESIGNING-UI/Path 2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 1rem;
  }
  .section142divc1img4c {
    height: 2rem;
    background: url("../DESIGNING-UI/Icon awesome-linkedin.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 1.5rem;
  }
  .section142divc1img3c {
    height: 2rem;
    background: url("../DESIGNING-UI/Icon awesome-instagram.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 1.5rem;
  }
  .section142divc1img2c {
    height: 2rem;
    background: url("../DESIGNING-UI/Group 24.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 1.5rem;
  }
  .section142divc1img1c {
    height: 2rem;
    background: url("../DESIGNING-UI/Icon awesome-pinterest.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 1.5rem;
  }
  .section142divc1imgcon {
    height: 5rem;
    width: 5rem;
    background: url("../DESIGNING-UI/Ellipse 26.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .section142divlastp1 {
    font-size: 2rem;
    color: #58b5ed;
    text-align: center;
    margin-left: 0rem;
    margin-top: 20rem;
  }
  .section142divlastp2 {
    color: white;
    font-size: 1rem;
    margin-left: -1rem;
    margin-top: -20rem;
  }
}
